body {
	background-color: #ebebeb;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); } }
#loader-wrapper {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center; }
.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top:calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite; }

hr:first-of-type {
	position: sticky;
}
.nav {
	overflow: hidden;
	position: sticky;
}

.nav a {
	float: left;
	margin: 10px;
	display: block; 
	text-decoration: none;
	padding: 2px;
	border-color: #cbcbcb;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
	background-color: #cbcbcb;
	font-family: monospace;
	color: #FFFFFF;
	font-size: 16px;
}

.nav a:first-child {
	border: none;
	background: none;
	color: #000000;
}

.nav #menu-toggle {
	display: none; }
@media screen and (max-width: 600px) {
	.nav a:not(:first-child) {
		display: none; 
	}
	.nav a#menu-toggle {
		float: right;
		display: block; 
	} 
}

@media screen and (max-width: 600px) {
	.nav.nav--open {
		position: relative; 
	}
	.nav.nav--open #menu-toggle {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.nav--open a {
		float: none;
		display: block;
		text-align: left;
	}
	.nav.nav--open a:not(#menu-toggle) {
		width: 80%;
	}
}

.menu-toggle__bar1, .menu-toggle__bar2, .menu-toggle__bar3 {
	width: 19px;
	height: 3px;
	background-color: #000000;
	margin: 4px 0;
	transition: 0.3s; 
}

.menu-toggle--open .menu-toggle__bar1 {
	transform: translate(0, 7px) rotate(-45deg); 
}

.menu-toggle--open .menu-toggle__bar2 {
	opacity: 0; 
}

.menu-toggle--open .menu-toggle__bar3 {
	transform: translate(0, -7px) rotate(45deg); 
}

#loginPopup h1 {
	text-align: center;
	font-family: monospace;
	font-size: 40px;
}

#loginPopup {
	margin: auto;
	width: 50%;
	align-items: center;
	text-align: center;
	line-height: 200px;
}

#loginPopup button {
	border-radius: 5px;
	border-width: 1px;
	border-color: #d4d4d4;
	background-color: #FFFFFF;
	border-style: solid;
	transition: all 0.2s;
	font-size: 30px;
	height: 64px;
	padding-left: 10px;
	padding-right: 10px;
    cursor: pointer;
	margin: auto;
	align-items: center;
}

#loginPopup button:hover {
	border-radius: 5px;
	border-width: 1px;
	border-color: #d4d4d4;
	background-color: #e4e4e4;
	border-style: solid;
	text-align: center;
}

#loginPopup button img {
	max-width: 32px;
	object-fit: cover;
	margin-top: auto;
	margin-bottom: auto;
}

#emailMainPage {
	display: block;
	margin: auto;
	text-align: center;
}

#emailMainPage h1 {
	text-align: center;
	font-family: monospace;
	font-size: 40px;
}

#emailTable {
	font-family: monospace;
	font-size: x-large;
	font-weight: lighter;
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	padding: auto;
	border-radius: 5px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	overflow-y: auto;
}

#emailTable td, #emailTable th {
	padding: 8px 8px;
}

#emailTable tr {
	border: #d8d8d8 solid 1px;
	border-radius: 5px;
	cursor: pointer;
}

#emailTable tr:nth-child(even){background-color: #f2f2f2;}

#emailTable tr:hover {background-color: #ddd;}

#emailTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #efefef;
	color: white;
}

.unread {
	font-weight: bold;
}