body {
	background-color: #ebebeb;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); } }
#loader-wrapper {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center; }
.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top:calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite; }

.nav {
	overflow: hidden;
}
.nav a {
	float: left;
	margin: 10px;
	display: block; }
.nav #menu-toggle {
	display: none; }
@media screen and (max-width: 600px) {
	.nav a:not(:first-child) {
		display: none; }
	.nav a#menu-toggle {
		float: right;
		display: block; } }
@media screen and (max-width: 600px) {
	.nav.nav--open {
		position: relative; }
	.nav.nav--open #menu-toggle {
		position: absolute;
		right: 0;
		top: 0; }
	.nav.nav--open a {
		float: none;
		display: block;
		text-align: left; } }
.menu-toggle__bar1, .menu-toggle__bar2, .menu-toggle__bar3 {
	width: 21px;
	height: 3px;
	background-color: #000000;
	margin: 4px 0;
	transition: 0.3s; }
.menu-toggle--open .menu-toggle__bar1 {
	transform: translate(0, 7px) rotate(-45deg); }
.menu-toggle--open .menu-toggle__bar2 {
	opacity: 0; }
.menu-toggle--open .menu-toggle__bar3 {
	transform: translate(0, -7px) rotate(45deg); }

#loginPopup button {
	border-radius: 5px;
	border-width: 1px;
	border-color: #d4d4d4;
	background-color: #FFFFFF;
	border-style: solid;
	text-align: center;
	transition: all 0.2s;
	font-size: 30px;
	height: 48px;
	line-height: 48px;
}

#loginPopup button:hover {
	border-radius: 5px;
	border-width: 1px;
	border-color: #d4d4d4;
	background-color: #e4e4e4;
	border-style: solid;
	text-align: center;
}

#loginPopup button img {
	height: 32px;
	width: 32px;
}